.selected {
  background-color: #fd9 !important;
}
.table tr{
  cursor: pointer !important;
}
input.ng-invalid {
  background-color:pink;
}
input.ng-valid {
  background-color:lightgreen;
}
textarea.ng-valid {
  color: green;
  background-color: lightgreen;
}
textarea.ng-invalid {
  background-color: pink;
}

.centro {
    position: relative;          /* where the next element will be automatically positioned */
    display: inline-block;       /* causes element width to shrink to fit content */
    left: 50%;                   /* moves left side of image/element to center of parent element */
    transform: translate(-50%);  /* centers image/element on "left: 50%" position */
    margin: 0 auto;
    text-align:center;
}

tr.spaceUnder>td {
  padding-bottom: 1em;
}

tr.spaceUnder>th {
  padding-bottom: 1em;
}
.document,
.bd-document{border:2px solid #f5f5f5;position:relative}.document::before,
.bd-document::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Documento";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.imprte,
.bd-imprte{border:2px solid #f5f5f5;position:relative}.imprte::before,
.bd-imprte::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Importe";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.cambio,
.bd-cambio{border:2px solid #f5f5f5;position:relative}.cambio::before,
.bd-cambio::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Cambio";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.modulos,
.bd-modulos{border:2px solid #f5f5f5;position:relative}.modulos::before,
.bd-modulos::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Módulos";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.usuarios,
.bd-usuarios{border:2px solid #f5f5f5;position:relative}.usuarios::before,
.bd-usuarios::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Usuarios";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.permisos,
.bd-permisos{border:2px solid #f5f5f5;position:relative}.permisos::before,
.bd-permisos::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Permisos";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.datos,
.bd-datos{border:2px solid #f5f5f5;position:relative}.datos::before,
.bd-datos::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Datos";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.modperm,
.bd-modperm{border:2px solid #f5f5f5;position:relative}.modperm::before,
.bd-modperm::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Módulos Permitidos";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.sucursal,
.bd-sucursal{border:2px solid #f5f5f5;position:relative}.sucursal::before,
.bd-sucursal::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Sucursal";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.empperm,
.bd-empperm{border:2px solid #f5f5f5;position:relative}.empperm::before,
.bd-empperm::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Empresas Permitidas";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.totales,
.bd-totales{border:2px solid #f5f5f5;position:relative}.totales::before,
.bd-totales::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Totales";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.inventario,
.bd-inventario{border:2px solid #f5f5f5;position:relative}.inventario::before,
.bd-inventario::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Control de Inventario";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}


#tacliente{
  width: 450px;
  height: 100px;
}

a{
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

a:hover{
  color: #f13e3e;
}

.tbl-header{
  background-color:CornflowerBlue; 
  color:Ivory;
}

.tbl-header-seek{
  background-color:Crimson; 
  color:Ivory;
  font-size: 14px;
}

fieldset{
  display: inline;
  vertical-align: top;
  padding: .5em .8em;
  margin: .8em .5em 0 0;
  border: 1px solid #999;
  text-decoration: solid;
}

.ffont{
  font-size: 12px;
  font-family: 'Times New Roman';
}


th.producto {
    width: 145px;
    max-width: 145px;
    font-size: 14px;
    text-align: center;
}

td.producto {
    width: 145px;
    max-width: 145px;
    font-size: 12px;
    text-align: center;
}

th.cantidad {
    width: 80px;
    max-width: 80px;
    word-break: break-all;
    text-align: center;
    font-size: 14px;
}
td.cantidad {
    width: 80px;
    max-width: 80px;
    word-break: break-all;
    text-align: center !important;
    font-size: 12px;
}

th.precio {
    width: 60px;
    max-width: 60px;
    word-break: break-all;
    font-size: 14px;
    text-align: center;
}

td.precio{
  width: 60px;
  max-width: 60px;
  word-break: break-all;
  font-size: 12px;
  text-align: right !important;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 290px;
    max-width: 290px;
}

img {
    max-width: inherit;
    width: inherit;
}

a{
  text-align: none;
  color: #fff;

}

.contenedor-menu{
  width:100%; 
  height:890px; 
  overflow:auto;
  display: inline-block;
  margin: 5px;
  line-height: 18px;
}

.contenedor-menu .menus{
  width: 100%;

}

.contenedor-menu ul{
  list-style: none !important; 
}

.contenedor-menu .menus li a{
  color: rgb(85, 83, 83);
  display: block;
  padding: 15px 20px;
}

.contenedor-menu .menus li a:hover{
  background: #1a95d5;
  color: #fff;
}

.contenedor-menu .menus .icono{
  font-size: 20px;
  line-height: 18px;
}

.contenedor-menu .menus .icono.izquierda{
  float: left;
  margin-right: 10px;
}

.contenedor-menu .menus .icono.derecha{
  float: right;
  margin-left: 10px;
}

.contenedor-menu .menus ul{
  display:none

}

.contenedor-menu .menus ul li a{
  background: #424242;
  color: #e9e9e9;
  
}

.contenedor-menu .menus .activado > a{
  background: #1a95d5;
  color: #fff;
}

.contenedor-inv{
  width:80%;
  margin: 0 auto;
  font-size: 14px;
}

.pagos-width{
  width: 350px !important;
}

.centro{
  width: 100%;
  margin: 0px auto;
  text-align: center
}

.font12{
  font-size: 12px;
}