.selected {
  background-color: #fd9;
}
.table tr{
  cursor: pointer !important;
}
input.ng-invalid {
  background-color:pink;
}
input.ng-valid {
  background-color:lightgreen;
}
textarea.ng-valid {
  color: green;
  background-color: lightgreen;
}
textarea.ng-invalid {
  background-color: pink;
}

.centro {
    position: relative;          /* where the next element will be automatically positioned */
    display: inline-block;       /* causes element width to shrink to fit content */
    left: 50%;                   /* moves left side of image/element to center of parent element */
    transform: translate(-50%);  /* centers image/element on "left: 50%" position */
    margin: 0 auto;
    text-align:center;
}

tr.spaceUnder>td {
  padding-bottom: 1em;
}

tr.spaceUnder>th {
  padding-bottom: 1em;
}
.document,
.bd-document{border:2px solid #f5f5f5;position:relative}.document::before,
.bd-document::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Documento";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.imprte,
.bd-imprte{border:2px solid #f5f5f5;position:relative}.imprte::before,
.bd-imprte::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Importe";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.cambio,
.bd-cambio{border:2px solid #f5f5f5;position:relative}.cambio::before,
.bd-cambio::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Cambio";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.modulos,
.bd-modulos{border:2px solid #f5f5f5;position:relative}.modulos::before,
.bd-modulos::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Módulos";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.usuarios,
.bd-usuarios{border:2px solid #f5f5f5;position:relative}.usuarios::before,
.bd-usuarios::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Usuarios";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.permisos,
.bd-permisos{border:2px solid #f5f5f5;position:relative}.permisos::before,
.bd-permisos::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Permisos";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.datos,
.bd-datos{border:2px solid #f5f5f5;position:relative}.datos::before,
.bd-datos::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Datos";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.modperm,
.bd-modperm{border:2px solid #f5f5f5;position:relative}.modperm::before,
.bd-modperm::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Módulos Permitidos";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.sucursal,
.bd-sucursal{border:2px solid #f5f5f5;position:relative}.sucursal::before,
.bd-sucursal::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Sucursal";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.empperm,
.bd-empperm{border:2px solid #f5f5f5;position:relative}.empperm::before,
.bd-empperm::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Empresas Permitidas";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

.totales,
.bd-totales{border:2px solid #f5f5f5;position:relative}.totales::before,
.bd-totales::before{background:#ffdd57;border-radius:2px 2px 0 0;bottom:100%;color:rgba(0,0,0,.7);content:"Totales";display:inline-block;font-size:7px;font-weight:700;left:-1px;letter-spacing:1px;margin-left:-1px;padding:3px 5px;position:absolute;text-transform:uppercase;vertical-align:top}

#tacliente{
  width: 450px;
  height: 100px;
}

a{
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

a:hover{
  color: #f13e3e;
}

.tbl-header{
  background-color:CornflowerBlue; 
  color:Ivory;
}

.tbl-header-seek{
  background-color:Crimson; 
  color:Ivory;
  font-size: 14px;
}

fieldset{
  display: inline;
  vertical-align: top;
  padding: .5em .8em;
  margin: .8em .5em 0 0;
  border: 1px solid #999;
  text-decoration: solid;
}
